.input_wrapper{
  position: relative;
  width:30%;
  left:50%;
  transform: translateX(-50%);
}
  .label{
    color:#fff;
    font-family: 'Montserrat';
    
  }
  .input{
    width:100%;
    border: 0; 
    padding: 4px 0;
    font-size:1.2rem; 
    border-bottom: 2px solid #fff; 
    background-color: transparent;
    color:#fff;
    font-family:'Montserrat';
    font-weight: 300;
  }

  .input:focus { 
    outline: none !important;
    
}

    .input:focus ~ .focus-border{
      width: 100%; 
      transition: 0.4s; 
      left: 0;
    }
    .input:focus ~ label,
    .input ~ label{
      top: -16px; 
      font-size: 12px; 
      color: #ff6666; 
      transition: 0.3s;
    }
    .input ~ label{
      position: absolute;
      left: 0;
      width: 100%; 
      top:20%; 
      color: #fff;
      font-size:1.3rem;
      font-weight: 200; 
      transition: 0.3s;
      z-index: -1;
      letter-spacing: 0.5px;
    }

    .input ~ .focus-border{
      position: absolute; 
      bottom: 0; 
      left: 50%; 
      width: 0; 
      height: 2px; 
      background-color: #ff6666; 
      transition: 0.4s;
    }

    p{
      color:#fff;
    }

    @media(max-width:770px){
      .input_wrapper{
        width:50%;
      }
    }

    @media(max-width:450px){
      .input_wrapper{
        width:90%;
      }
    }