/* .App_title {
  color:yellow;
  font-weight: 300;
} */

.svg_wrapper{
  width:50vh;
  height: 40vh;
}

.App_header{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.img{
  width:100%;
  height: 100%;
}

@media(max-width:450px){
  .svg_wrapper{
    width:40vh;
    height: 35vh;
  }
}